//misc settings
@import 'config/_settings';
@import 'config/_mixins';
@import 'config/_variables';

//global things
@import 'general/_reset';
@import 'layout/_main';

//layouts
@import 'layout/_responsive';
@import 'layout/_forms';
@import 'layout/_navigation';
@import 'layout/_footer';

//pages
@import 'pages/_contato';
@import 'pages/_home';
@import 'pages/_page';

