// Fonts
$main-font: 'Cabin', sans-serif;
$second-font: 'Cabin', sans-serif;


// DELAY ADOBE FONT OFF
.wf-loading {
  visibility: hidden;
}

// Colors
$main-color: #018dfe;
$color-gray-light: #b8b8b8;
$color-blue-brand-1: #018DFE;
$color-blue-brand-2: #0070CC;
$color-yellow-brand: #f6c208;
$color-font-gray: #8e8e8e;
$color-p-negative: #b1d5f3;

$green: #40C790;
$blue: #4A90E2;
$orange: #F7A700;
$yellow: #F7A700;