body {
    font-family: $main-font;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $second-font;
    text-transform: uppercase;
}

h2 {
    font-size: convertSizing(26, 14);
    font-weight: 400;
    color: $color-font-gray;
}

h3 {
    font-size: 36px;
    letter-spacing: 0.4px;
}

p {
    font-size: convertSizing(13, 14);
    color: $color-gray-light;
}

.img-content {
    overflow: hidden;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.btn-warning {
    background-color: $orange;
    &:hover {
        background-color: $green;
        border-color: $green;
    }
}

.btn-default {
    background-color: #fff;
    border-color: $blue;
    color: #7F7F7F;
    &:hover {
        background-color: $green;
        border-color: $green;
        color: #fff;
    }    
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
}  
.btn-default.focus, .btn-default:focus, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
}  

.btn-default {

  &:focus,
  &.focus {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
    outline:0;    
  }
  &:active,
  &.active,
    .open > .dropdown-toggle {
        color: #fff;
        background-color: $blue;
        border-color: $blue;

        &:hover,
        &:focus,
        &.focus {
        color: #fff;
        background-color: $blue;
        border-color: $blue;
        outline:0;    
        }
    }
    &:active,
    &.active,
    .open > .dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            color: #fff;
            background-color: $blue;
            border-color: $blue;
            outline:0;    
        }
    }    

}


/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
    text-transform: uppercase;
    font-size: 0.8em;
}
.btn-default.outline {
    border: 2px solid white;
    color: white;
}
.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open > .dropdown-toggle.btn-default {
    color: $color-yellow-brand;
    border-color: $color-yellow-brand;
}
.btn-default.outline:active, .btn-default.outline.active {
    border-color: white;
    color: white;
    box-shadow: none;
}