.page-contato {    

    input[type=text].form-control {
        background-color: #f7f7f7;
        color: $color-blue-brand-1;
        border: 0;
        height: 45px;
        @include input-placeholder($color-blue-brand-1);

    }
    textarea.form-control {
        background-color: #f7f7f7;
        color: $color-blue-brand-1;
        border: 0;
        min-height: 225px;
        @include input-placeholder($color-blue-brand-1);        
    }

}


